<h1>About everific</h1>
<p>
We want to help YOU live every moment to the fullest and enjoy the moments that matter with those that matter
</p>
<p>
<a href="http://www.urbandictionary.com/define.php?term=everific">Urban Dictionary</a>
</p>