<div class="jumbotron center">
	<h1>Welcome</h1>

	<p>
       <%= link_to "Log in", "http://google.com", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "http://google.com", class: "btn btn-primary btn-lg" %>
  </p>    

</div>

<p>
We want to help YOU live every moment to the fullest and enjoy the moments that matter with those that matter
</p>
<p>
<a href="http://www.urbandictionary.com/define.php?term=everific">Urban Dictionary</a>
</p>