<div class="jumbotron">
	<h1>Welcome</h1>
	Click here to <%= link_to "Sign Up", "http://google.com", class: "btn btn-primary" %>
</div>

<p>
We want to help YOU live every moment to the fullest and enjoy the moments that matter with those that matter
</p>
<p>
<a href="http://www.urbandictionary.com/define.php?term=everific">Urban Dictionary</a>
</p>