<h1>WHY everific</h1>
<p>
We want to help YOU live every moment to the fullest and enjoy the moments that matter with those that matter
</p>
<p>
<a href=https://www.youtube.com/watch?v=y6Sxv-sUYtM&list=RDy6Sxv-sUYtM>be everific</a>
</p>