<h1>WHY everific</h1>
<p>
We want to help YOU live every moment to the fullest and enjoy the moments that matter with those that matter
</p>
<p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/y6Sxv-sUYtM?list=RDy6Sxv-sUYtM" frameborder="0" allowfullscreen></iframe>

</p>